<div class="sidebar">
    <h1 class="site-header">{{ site.title }}</h1>
    {% assign author = site.github_username -%}
    <a href="{{ '/' | absolute_url }}">{% avatar user=author size=200 -%}</a>
    <a href="{{ author | prepend: 'https://github.com/' }}"><h1>{{ author }}</h1></a>
    <h4>{{ site.description }}</h4><br>
    <h2><a href="{{ '/about.html' | absolute_url }}">About</a></h2>
    <h2><a href="{{ '/blog/' | absolute_url }}">Blogs</a></h2>
    <h2><a href="{{ '/feed.xml' | absolute_url }}">Rss feed</a></h2>
</div>